<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %>

            <div class="content">
                <div class="single">
                    <div class="single-head">
                        <h2>
                            <a href="/posts/<%= post._id %>">
                                <%= post.title %>
                            </a>
                        </h2>

                        <button type="submit" id="delete-post" data-id="<%= post._id %>">Delete post</button>
                    </div>

                    <div class="body">
                        <%= post.body %>
                    </div>
                </div>
            </div>

            <%- include('./partials/footer.ejs') %>

                <script src="/js/delete-post.js"></script>
    </body>

</html>